@import url("../styles/index.css");

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 12px;
    border-radius: 12px;
    background-color: var( --brownish-grey-color);
    box-shadow: 0 2px 10px  rgb(0 0 0 / 20%);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    opacity: 0.9;
}

.title {
    display: block;
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: var(--white-color);
}

.image {
    display: block;
    max-width: 320px;
    max-height: 320px;
}

.price {
    display: block;
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white-color);
}

.button {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    border-radius: 0;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.add {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white-color);
}

.container {
    border-radius: 100%;
    background: var( --midnight-blue-color);
    box-shadow: rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    align-self: end;
}

.count {
    display: block;
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-color);
}
